.container {
	padding: 0px 10px 10px;
	box-sizing: border-box;
}

.panel {
	padding: 20px 10px;
	border-radius: 10px;
	border: 1px solid #eee;
	background: #333;
}

.panel p {
	color: #eee;
}

.panel p.head {
	text-align: justify;
}

.panel p:not(.head) {
	line-height: 2;
}

.panel textarea {
	width: 100%;
	resize: none;
}