.form {
    margin-top: 50px;
    padding: 0 10px;
}

.login {
    width: 100%;
    border-width: 0;
    line-height: 2.55555556;
    border-radius: 5px;
    font-size: 18px;
    padding: 0 20px;
    box-sizing: border-box;
}

.login:active, .login:visited {
    outline: none;
    border-width: 0;
}

.login + .login {
    margin-top: 15px;
}

